@import "../../../styles/mixin";

.link-wrap {
  @include mediaMobileTablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:hover {
    border-bottom: 3px solid orange;
    & + .menu-level-two {
      display: flex;
    }
  }
}

.link {
  display: block;
  padding: 20px 0px;
  margin: 0px 20px;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}

.menu-level-two {
  @include flexInlineList;
  @include contentCenter;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  padding: 25px 0;
  background: rgb(248, 248, 248);
  & > li > a {
    font-size: 1.1rem;
    &:hover {
      border-bottom: 3px solid orange;
    }
  }
  &:hover {
    display: flex;
  }
  @include mediaMobileTablet {
    transform: none;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 0px;
    overflow: hidden;
    padding: 0;
    transition: all 0.5s ease-in-out;
    &.active {
      padding: 25px 0;
      max-height: 100vh;
    }
  }
}

.drop-down {
  display: none;
  @include mediaMobileTablet {
    display: inline-block;
    justify-content: space-between;
    position: relative;
    height: 35px;
    width: 35px;
    border: none;
    border-left: 2px solid lightgrey;
    margin: 10px;
    background-color: transparent;
    &.active {
      border-left-color: transparent;
      &:before {
        transform: rotate(135deg);
      }
    }
    &:before {
      content: "∟";
      display: block;
      transform: rotate(-45deg);
      transform-origin: center center;
      transition: all 0.5s;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
}
